.txtpr1 {
    font-family: "Young Serif", serif;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0;
}

.txtpr2 {
    font-family: "Young Serif", serif;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0;
}

.txtpr3 {
    font-family: "Outfit", serif;
    font-size: 20px;
    line-height: 100%;
    font-weight: 600;
    letter-spacing: 0;
}

.txtpr4 {
    font-family: "Outfit", serif;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    letter-spacing: 0;
}

.txtpr5 {
    font-family: "Outfit", serif;
    font-size: 16px;
    line-height: 150%;
    font-weight: 700;
    letter-spacing: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
    background-color: #F3E5D7;
    padding: 128px 48px;
    margin: 0;
}

.container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 656px;
    background-color: white;
    padding: 40px;
    border-radius: 24px;
}

#omelette {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 40px;
    border-radius: 24px;
}

.title {
    color: #312E2C;
    margin: 0 0 24px 0;
}

.description {
    color: #5F564D;
    margin: 0 0 32px 0;
}

.con2 {
    background-color: #FFF7FB;
    padding: 24px;    
    border-radius: 12px;
    margin-bottom: 32px;
}

.prep {
    color: #7A284E;
    margin: 0 0 16px 0;
}

ul, ol{
    margin: 0;
    padding: 0;
}

li {
    color: #5F564D;
    padding-left: 16px;
    margin-left: 24px;
    margin-bottom: 8px;
}

li:last-child {
    margin-bottom: 0;
}

.con3 {
    margin-bottom: 32px;
}

h2 {
    color: #854632;
    margin-top: 0;
    margin-bottom: 24px;
}

hr {
    border: 1px solid #E3DDD7;
    margin: 0;
}

ol li::marker {
    color: #854632;
    font-weight: 700;
}

.con4 {
    margin-top: 32px;
    margin-bottom: 32px;
}

.nutrition {
    margin-top: 32px;
}

.nutrition h2 {
    margin-bottom: 0;
}
.nutrition p {
    color:#5F564D;
    margin-top: 24px;
    margin-bottom: 12px;
}

.nutrition {
    display: grid;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid #E3DDD7;
    padding-left: 32px;
    column-gap: 16px;
    padding: 12px 32px;
}

.sp1 {
    color:#5F564D;
}

.sp2 {
    color:#854632;
}

.row:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

@media (max-width: 1024px) {
    .container {
        max-width: 616px;
    }
}

@media (max-width: 430px) {
    body {
        padding: 0;
        margin: 0;
    }
    h1 {
        font-size: 36px;
    }
    .container {
        width: 100%;
        padding: 0;
        border-radius: 0;
    }
    .container > * {
        padding-left: 32px;
        padding-right: 32px;
    }
    #omelette {
        height: 171px;
        padding: 0;
        margin-bottom: 40px;
        border-radius: 0;
    }

    .con2 {
        margin: 0 32px 32px 32px;
    }
    .nutrition {
        margin-bottom: 40px;
    }
}